/** @format */

@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.slick-arrow.slick-prev {
  display: none !important;
}

.slick-arrow.slick-next {
  display: none !important;
}

.slick-list {
  margin-left: 40px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Familjen Grotesk";
}

body::-webkit-scrollbar {
  display: none;
}

.firstcontainer {
  background-color: hsl(180, 100%, 98%, 1);
}

.imagelist {
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  background-color: hsl(180, 100%, 98%, 1);

  padding: 5px 80px;
}

.luround {
  width: 164.28px;
}

.luround3 {
  width: 160px;
  height: 46.75px;
}
.side-bar {
  display: none;
}

.ullist {
  display: flex;
  align-items: center;
  gap: 20px;
}

.list {
  list-style: none;
}

.list-menu {
  display: none;
}

.login {
  padding: 14px 24px;
  border-radius: 8px;
  border: 1px solid hsl(180, 23%, 15%, 1);
  background-color: hsl(180, 100%, 98%, 1);
  font-size: 18px;
  color: hsl(180, 23%, 15%, 1);
  font-weight: 500;
  display: none;
  font-family: "Inter";
}

.login:hover {
  border: 1px solid hsl(180, 100%, 40%, 1);
  color: hsl(180, 100%, 40%, 1);
  cursor: pointer;
}

.getapp {
  padding: 14px 24px;
  border-radius: 8px;
  color: white;
  border: 0;
  font-size: 18px;
  font-family: "Inter";
  font-weight: 600;
  background-color: hsl(180, 100%, 40%, 1);
}

.getapp:hover,
.download:hover {
  color: hsl(180, 100%, 40%, 1);
  border: 1px solid hsl(180, 100%, 40%, 1);
  background-color: white;
  cursor: pointer;
}

.buildbutton {
  display: grid;
  justify-content: center;
  text-align: center;
  font-size: 64px;
  margin-top: 105px;
}

.build {
  width: 1000px;
  font-weight: 700;
  color: hsl(180, 23%, 15%, 1);
}

.download {
  padding: 14px 24px;
  border-radius: 8px;
  color: white;
  border: 0;
  font-size: 18px;
  font-family: "Inter";
  font-weight: 600;
  background-color: hsl(180, 100%, 40%, 1);
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 70px;
}

.imgboy {
  margin-top: 250px;
  border-radius: 24px;
}

.mark {
  position: absolute;
  margin-top: -130px;
  margin-left: 425px;
  background-color: hsl(0, 0%, 100%, 0.8);
  padding: 16px 24px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-family: "Inter";
  font-size: 20px;
  color: hsl(180, 23%, 15%, 0.8);
}

.imggirl {
  margin-top: 100px;
  margin-bottom: 165px;
  border-radius: 24px;
}

.service {
  position: absolute;
  margin-top: -725px;
  margin-left: -100px;
  background-color: hsl(0, 0%, 100%, 0.8);
  padding: 16px 24px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-family: "Inter";
  font-size: 20px;
  color: hsl(180, 23%, 15%, 0.8);
}
.check,
.calendar {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.services {
  background-color: hsl(197, 100%, 11%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 80px;
  text-align: center;
  font-weight: 600;
  font-family: "Inter";
  font-size: 48px;
  color: hsl(0, 0%, 100%, 1);
}

.provider {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.page {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.page1 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 8px;
}

.serviceproviders {
  font-size: 18px;
  font-weight: 200;
  font-family: "Inter";
  color: hsl(0, 0%, 100%, 0.75);
}

.gridcontainer {
  display: grid;
  justify-content: center;
  gap: 64px;
  place-items: center;
  padding: 80px;
}

.integrated {
  font-size: 52px;
  font-weight: 600;
  font-family: "Familjen Grotesk";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: hsl(180, 23%, 15%, 1);
  width: 900px;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.profile-bookings {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.profile {
  background: linear-gradient(hsl(39, 100%, 96%, 1), hsl(320, 46%, 95%, 1));
  border-radius: 24px;
  text-align: center;
  display: grid;
  place-items: center;
}

.profilepage {
  font-weight: 700;
  font-size: 24px;
  font-family: "Inter";
  color: hsla(180, 23%, 15%, 1);
}
.profile-p {
  width: 420px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter";
  color: hsla(180, 23%, 15%, 0.8);
}

.image2 {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.ronaldprofile {
  position: relative;
  top: 6px;
  height: 276px;
}

.successful {
  position: relative;
  top: 8px;
  height: 290px;
}

.share-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.paragraphtool {
  width: 355px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter";
  color: hsla(180, 23%, 15%, 0.8);
}
.paragraph {
  width: 330px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter";
  color: hsla(180, 23%, 15%, 0.8);
}

.bookings {
  background: linear-gradient(
    hsl(338, 52%, 96%, 1),
    hsl(256, 65%, 92%, 1),
    hsl(338, 52%, 96%, 1)
  );
  padding-bottom: 0px;
  border-radius: 24px;
  text-align: center;
  display: grid;
  place-items: center;
  gap: 32px;
}

.pbc {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.payment {
  background: linear-gradient(hsla(40, 100%, 94%, 1), hsla(11, 100%, 96%, 1));
}

.group {
  height: 244px;
  position: relative;
  left: 44px;
}

.payment,
.businesstools,
.contact {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-bottom: 0px;
  border-radius: 24px;
  text-align: center;
  gap: 32px;
}

.businesstools {
  background: linear-gradient(hsla(0, 56%, 96%, 1), hsla(245, 92%, 91%, 1));
}

.contact {
  background: linear-gradient(hsl(30, 89%, 96%, 1), hsl(282, 70%, 94%, 1));
}

.businessimage {
  height: 288px;
  position: relative;
  top: 4px;
}

.contactimage {
  height: 300px;
  position: relative;
  top: 8px;
}

.profilepage {
  display: grid;
  place-items: center;
  gap: 24px;
}

.profilepage1 {
  display: grid;
  place-items: center;
  gap: 24px;
  padding: 80px 295px;
}

.more {
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter";
  color: hsl(180, 23%, 15%, 1);
  background-color: hsl(180, 17%, 98%, 1);
  padding: 16px 24px;
  border-radius: 24px;
}

.profileall {
  display: grid;
  place-items: center;
  width: 665px;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  font-family: "Familjen Grotesk";
  mask-image: linear-gradient(to bottom, hsl(180, 23%, 15%, 0.85), transparent);
}

.platform {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: hsl(180, 23%, 15%, 0.85);
  font-family: "Inter";
}

.circle {
  position: absolute;
  margin-top: -7px;
  margin-left: -111px;
}

.gridcontainer2 {
  display: grid;
  padding: 80px;
  margin-top: 50px;
  place-items: center;
}
.grid2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 48px;
}
.stay-unlock {
  background-color: hsl(198, 100%, 96%, 1);
  display: grid;
  border-radius: 50px;
  padding: 24px;
}

.stay-unlock > div > span {
  font-size: 24px;
  font-weight: 700;
  color: hsla(180, 23%, 15%, 1);
  font-family: "Inter";
}

.stay-unlock > div > p {
  font-size: 16px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
  font-family: "Inter";
  width: 545px;
}

.personal {
  margin: 0 auto;
  height: 478px;
}

.review {
  display: grid;
  gap: 30px;
}

.help-list {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.help {
  color: hsla(180, 23%, 15%, 1);
  font-size: 48px;
  font-weight: 600;
  width: 400px;
}

.arrow {
  list-style: none;
  float: right;
  display: flex;
  gap: 30px;
}

.arrow-left {
  padding: 12px;
  width: 24px;
  height: 24px;
  border-radius: 64px;
  background-color: hsl(180, 17%, 98%, 1);
}

.arrow-right {
  padding: 12px;
  width: 24px;
  height: 24px;
  border-radius: 64px;
  background-color: hsl(180, 17%, 98%, 1);
}

.arrow-left:active,
.arrow-right:active {
  background-color: hsl(180, 100%, 40%, 1);
  color: white;
}
.reviewpart {
  width: 100%;
  overflow: hidden;
}

.businessowner {
  width: 400px !important;
  padding: 24px;
  border-radius: 24px;
  padding-bottom: 0px;
  background-color: hsla(180, 17%, 98%, 1);
}

.slick-slide {
  box-sizing: border-box;
  width: 400px;
}

.slick-track {
  display: flex !important;
  gap: 32px;
  width: 0px !important;
}

.hr {
  border: 1px solid hsla(180, 11%, 89%, 1);
  transform: rotate(0deg);
  width: 352px;
  margin-top: 50px;
}

.imageowner {
  width: 64px;
  height: 64px;
  margin-top: 50px;
  border-radius: 64px;
}

.name {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -55px;
  left: 85px;
  gap: 4px;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.65);
}

.datareview {
  font-size: 18px;
  width: 352px;
  display: block;
  font-weight: 400;
  line-height: 24px;
  font-family: "Inter";
  color: hsla(180, 23%, 15%, 1);
}

.share {
  padding: 80px;
  display: grid;
  align-items: center;
  gap: 20px;
}

.share-clients {
  display: grid;
  gap: 48px;
  color: hsla(180, 23%, 15%, 0.85);
  font-weight: 400;
  font-family: "Inter";
}

.share-profile {
  color: hsla(180, 23%, 15%, 1);
  font-size: 48px;
  font-weight: 600;
  display: block;
  font-family: "Familjen Grotesk";
  width: 600px;
}

.easily {
  background: linear-gradient(
    to right,
    hsla(180, 100%, 40%, 1),
    hsla(245, 92%, 69%, 1)
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.buttontext {
  display: flex;
  gap: 20px;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  padding: 8px 12px;
  border: 0;
  font-family: "Inter";
  background-color: hsla(0, 0%, 0%, 1);
  color: white;
  cursor: pointer;
}

.svg-play {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 4px;
}

.get {
  font-size: 8px;
  font-weight: 200;
}

.app {
  font-weight: 500;
  font-size: 16px;
  font-family: "Inter";
}

.shareimage {
  float: right;
  margin-top: -310px;
  height: 550px;
}

.scanimage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: right;
  margin-top: 15px;
  position: relative;
  left: 115px;
  padding: 8px 12px;
  background: linear-gradient(
    hsla(322, 41%, 95%, 1),
    hsla(258, 59%, 92%, 1),
    hsla(324, 38%, 95%, 1)
  );
  border-radius: 10px;
}

.scan {
  border-radius: 10px;
}

.qr {
  text-align: center;
  width: 120px;
  font-size: 12.64px;
  font-weight: 400;
  font-family: "Inter";
  color: hsla(180, 23%, 15%, 1);
}

@media only screen and (max-width: 720px) {
  .luround {
    width: 109.52px;
    height: 32px;
  }

  .luround4 {
    display: block;
  }

  .luround2 {
    display: none;
  }
  .side-bar {
    background-color: white;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    right: -600px;
    overflow-y: auto;
    transform: translateX(600px);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }

  .side-bar.active {
    transform: translateX(0);
    right: 0;
    opacity: 1;
  }

  .side-bar.fade-out {
    transform: translateX(600px);
    opacity: 0;
  }

  .list-menu {
    display: block;
  }

  .download {
    font-size: 16px;
  }

  .slick-slide {
    width: 312px;
  }

  .help-list {
    padding: 0px 24px;
  }

  .buildbutton {
    margin-top: 70px;
  }
  .dropdown-close {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
    margin: 15px;
    color: hsl(240, 100%, 5%);
  }

  .dropdown-btn {
    cursor: pointer;
  }

  .cancel {
    float: right;
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;
    font-size: 20px;
    color: hsl(240, 100%, 5%);
  }

  .sidebar-menu li {
    padding: 15px;
    text-align: center;
  }

  .sidebar-menu li a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
  }

  .sidebar-login {
    display: none;
    padding: 14px 130px;
    border: 0;
    background-color: white;
    font-size: 18px;
    color: hsl(180, 23%, 15%, 1);
    font-weight: 500;
    font-family: "Inter";
    cursor: pointer;
  }

  .sidebar-getapp {
    padding: 14px 105px;
    border-radius: 8px;
    color: white;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    font-family: "Inter";
    font-weight: 600;
    background-color: hsl(180, 100%, 40%, 1);
  }

  .luround3 {
    display: block;
  }

  .imagelist {
    align-items: center;
    padding: 0px 24px;
  }

  .list {
    display: none;
  }

  .build {
    font-size: 32px;
    width: 300px;
  }

  .image {
    margin-bottom: 0;
    gap: 10px;
  }

  .imggirl {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    border-radius: 8px;
  }

  .imgboy {
    width: 150px;
    height: 150px;
    margin-top: 150px;
    border-radius: 8px;
  }

  .mark {
    margin-top: -70px;
    margin-left: 94px;
    font-size: 14px;
    padding: 8px;
    border-radius: 8px;
  }

  .service {
    margin-top: -301px;
    padding: 8px;
    font-size: 14px;
    margin-left: -110px;
    border-radius: 8px;
  }

  .check,
  .calendar {
    width: 16px;
    height: 16px;
  }

  .services {
    font-size: 16px;
    padding: 8px 16px;
  }
  .provider {
    gap: 3.8px;
  }

  .serviceproviders {
    font-size: 8px;
    display: block;
    width: 70px;
  }

  hr {
    width: 22.8px;
    border: 0.24px solid hsla(180, 11%, 89%, 1);
  }

  .integrated {
    font-size: 24px;
    width: 205px;
  }

  .gridcontainer {
    padding: 32px 24px;
    gap: 24px;
  }

  .grid {
    gap: 16px;
  }

  .profile,
  .bookings {
    border-radius: 8px;
    gap: 24px;
    width: 312px;
  }

  .profilepage {
    font-size: 20px;
    gap: 24px;
  }

  .profile-p {
    font-size: 14px;
    width: 254px;
  }

  .profile-bookings {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .ronaldprofile {
    width: 280px;
    height: 130px;
    top: 0px;
    padding: 0px 16px;
  }

  .successful {
    width: 246px;
    height: 220px;
    padding: 0px 16px;
  }

  .pbc {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 16px;
  }

  .group {
    width: 300px;
    height: 213px;
    position: relative;
    left: 6px;
    padding: 0px 16px;
  }

  .businessimage {
    width: 246px;
    height: 216px;
    top: 0px;
    padding: 0px 16px;
  }

  .contactimage {
    width: 270px;
    height: 266px;
    top: 0;
    padding: 0px 16px;
  }
  .profilepage1 {
    padding: 32px 24px;
    gap: 20px;
  }

  .image-luround {
    width: 109.52px;
  }

  .line-span {
    font-weight: 400;
    font-size: 12px;
  }

  .payment,
  .businesstools,
  .contact {
    gap: 24px;
    border-radius: 8px;
    width: 312px;
    height: 340px;
  }

  .image-close {
    display: flex;
    background-color: hsla(180, 100%, 98%, 1);
    padding: 24px;
  }

  .paragraphtool,
  .paragraph {
    width: 280px;
    font-size: 14px;
  }

  .more {
    font-size: 10px;
    padding: 8px;
    width: max-content;
  }

  .profileall {
    font-size: 24px;
    width: 300px;
  }

  .platform {
    font-size: 18px;
  }

  .circle {
    width: 87px;
    height: 27px;
    margin-top: 0;
    margin-left: -70px;
  }

  .gridcontainer2 {
    margin-top: 0px;
    padding: 32px 24px;
  }

  .stay-unlock {
    height: 460px;
    border-radius: 24px;
    padding: 24px 16px;
    display: block;
  }

  .text {
    display: grid;
    gap: 16px;
  }

  .stay-unlock > div > span {
    font-size: 20px;
    width: 290px;
  }

  .stay-unlock > div > p {
    font-size: 14px;
    width: 275px;
    margin: 0;
  }

  .personal {
    margin-top: 50px;
    height: 239px;
  }

  .grid2 {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 24px;
  }

  .manage {
    width: 110px;
    margin-top: -190px;
    margin-left: 180px;
  }

  .slick-list {
    margin-left: 20px;
  }

  .process {
    width: 110px;
    margin-top: -120px;
    margin-left: 0px;
  }
  .communityimage {
    width: 330px;
  }

  .share {
    padding: 32px 24px;
  }

  .share-profile {
    font-size: 24px;
    width: 285px;
  }
  .shareimage {
    float: none;
    margin: 0 auto;
  }

  .scanimage {
    position: absolute;
    margin-left: -100px;
    margin-top: -350px;
    height: 145px;
  }

  .scan {
    width: 105px;
  }

  .qr {
    font-size: 9.4px;
    width: 90px;
    margin-top: 5px;
  }

  .footer {
    padding: 32px 0px 32px 0px;
    gap: 20px;
  }

  .footer-luround {
    gap: 24px;
  }

  .footer-span {
    font-size: 14px;
    font-weight: 400;
    width: 312px;
  }
  .divimage {
    display: flex;
  }

  .footer-hr {
    width: 360px;
  }

  p {
    width: 305px;
    font-size: 18px;
  }

  .help {
    font-size: 24px;
    width: 200px;
  }

  .arrow {
    gap: 24px;
    padding: 0;
    margin: 0;
  }
  .privacy {
    font-size: 14px;
  }

  .arrow-left,
  .arrow-right {
    width: 12px;
    height: 12px;
  }

  .datareview {
    font-size: 16px;
    width: 280px;
    line-height: 19.36px;
  }

  .businessowner {
    width: 305px !important;
  }

  .hr {
    width: 280px;
  }

  .slick-track {
    gap: 32px;
  }

  .name {
    font-size: 12px;
  }
  .dataname {
    font-size: 18px;
  }

  .review {
    padding: 32px 0px;
  }

  .share-container {
    gap: 16px;
  }

  .share-clients {
    place-items: center;
    gap: 24px;
  }

  .question1 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 721px) and (max-width: 1200px) {
  hr {
    width: 53px;
  }
  .build {
    width: 738px;
  }

  .buildbutton {
    gap: 48px;
  }

  .image {
    margin-bottom: 0;
    gap: 40px;
  }

  .imggirl {
    width: 350px;
    margin-top: 50px;
    border-radius: 8px;
  }

  .imgboy {
    width: 350px;
    margin-top: 150px;
    border-radius: 8px;
  }

  .mark {
    margin-top: -70px;
    margin-left: 265px;
    font-size: 14px;
    padding: 8px;
  }

  .service {
    margin-top: -490px;
    padding: 8px;
    font-size: 14px;
    margin-left: -110px;
  }

  .check,
  .calendar {
    width: 20px;
    height: 20px;
  }

  .services {
    font-size: 24px;
    padding: 16px 48px;
  }

  .serviceproviders {
    font-size: 10px;
  }

  .provider {
    gap: 8px;
  }

  .gridcontainer {
    padding: 56px 83px;
    gap: 48px;
  }

  .gridcontainer2 {
    padding: 56px 10px;
    margin-top: 0;
  }

  .page {
    gap: 8px;
  }

  .profile {
    gap: 32px;
  }
  .integrated {
    font-size: 40px;
    width: 600px;
  }
  .ronaldprofile {
    height: 280px;
    margin-left: 32px;
    margin-right: 32px;
    top: 0px;
  }
  .successful {
    height: 330px;
    top: 4px;
  }

  .grid {
    place-items: center;
    gap: 24px;
  }

  .profilepage1 {
    padding: 56px 48px;
  }

  .profile-bookings {
    grid-template-columns: 1fr;
  }

  .pbc {
    grid-template-columns: 1fr;
  }

  .businessimage,
  .contactimage {
    top: 0px;
  }

  .paragraph {
    width: 437px;
  }

  .payment,
  .businesstools,
  .contact {
    width: 668px;
    height: 400px;
    gap: 24px;
    display: grid;
    place-items: center;
  }

  .group {
    width: 472px;
    height: 292px;
    left: 1px;
  }

  .paragraphtool {
    width: 496px;
  }

  .profileall {
    font-size: 48px;
    width: 473px;
  }

  .platform {
    font-size: 24px;
  }

  .circle {
    width: 125px;
    margin-top: -8px;
    margin-left: -95px;
  }

  .grid2 {
    gap: 16px;
  }

  .communityimage {
    width: 312px;
    height: 502px;
  }
  .help {
    font-size: 32px;
    width: 252px;
  }

  .imagelist {
    padding: 5px 40px;
  }
  .help-list {
    padding: 56px 48px 0px 48px;
  }
  .slick-track {
    gap: 64px;
  }

  .businessowner {
    width: 360px !important;
  }

  .slick-list {
    margin-left: 0;
  }

  .stay-unlock {
    gap: 32px;
  }
  .stay-unlock > div > span {
    width: 337px;
  }

  .stay-unlock > div > p {
    width: 352px;
    margin: 0;
  }
  .personal {
    height: 292px;
  }

  .share {
    padding: 56px 0px;
    place-items: center;
  }

  .shareimage {
    margin-top: 0px;
  }

  .share-profile {
    width: 732px;
  }

  p {
    width: 738px;
  }
  .buttontext {
    justify-content: center;
  }

  .divimage {
    margin: 0 auto;
  }

  .footer-hr {
    width: 700px;
  }
}

@media only screen and (max-width: 375px) {
  .ronaldprofile {
    width: 280px;
  }

  .successful {
    width: 285px;
    height: 251px;
  }
  .divimage {
    display: flex;
  }

  .gridcontainer2 {
    padding: 32px 0px;
  }

  .share {
    padding: 16px 12px;
  }

  .privacy {
    font-size: 14px;
  }

  .help-list {
    padding: 0px 0px 0px 24px;
  }

  .businessowner {
    width: 295px !important;
    margin-left: 5px;
  }

  .datareview {
    font-size: 14px;
    width: 290px;
  }

  .slick-track {
    gap: 25px;
  }
  .hr {
    width: 250px;
  }

  .group {
    width: 288px;
    height: 195px;
    left: 12px;
  }

  .businessimage {
    width: 295px;
    height: 214px;
  }

  .contactimage {
    width: 290px;
    height: 214px;
  }

  .circle {
    margin-left: -76px;
  }

  .communityimage {
    width: 334px;
  }

  .personal {
    width: 285px;
  }

  .footer-hr {
    width: 310px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1399px) {
  .imgboy,
  .imggirl {
    width: 450px;
  }

  .service {
    margin-top: -580px;
    margin-left: -120px;
  }

  .mark {
    margin-left: 270px;
  }

  .ronaldprofile {
    height: 260px;
  }

  .successful {
    height: 250px;
  }

  .group {
    left: 17px;
  }

  .profile-p {
    font-size: 14px;
    width: 365px;
  }

  .profilepage {
    font-size: 20px;
  }

  .paragraphtool {
    width: 330px;
    font-size: 14px;
  }

  .paragraph {
    width: 290px;
    font-size: 14px;
  }
  .businessimage {
    height: 270px;
    padding: 0px 18px;
  }

  .contactimage {
    height: 280px;
    padding: 0px 18px;
  }

  .footer-hr {
    width: 1200px;
  }

  .gridcontainer2 {
    padding: 40px;
  }

  .communityimage {
    width: 440px;
  }

  .businessowner {
    width: 352px !important;
  }

  .slick-list {
    margin-left: -30px;
  }
}
